{% extends "layouts/base.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/order.css') }}">

<div class="order-container">
    <h2>Update Status - Order #{{ order.code }}</h2>

    <form method="POST">
        <select name="status">
            {% for s in allowed_statuses %}
            <option value="{{ s }}">{{ s }}</option>
            {% endfor %}
        </select>

        <button class="btn btn-success">Update</button>
    </form>
</div>
{% endblock %}