{% extends "seller/layout_seller.html" %}

{% block content %}

<h2>Cài đặt vận chuyển</h2>

<div class="shipping-box">

    <div class="shipping-item">
        <div>
            <strong>Hỏa Tốc</strong>
            <span class="shipping-cod">COD đã bật</span>
        </div>

        <label class="switch">
            <input type="checkbox" checked>
            <span class="slider"></span>
        </label>
    </div>


    <div class="shipping-item">
        <div>
            <strong>Trong Ngày</strong>
            <span class="shipping-cod">COD đã bật</span>
        </div>

        <label class="switch">
            <input type="checkbox" checked>
            <span class="slider"></span>
        </label>
    </div>


    <div class="shipping-item">
        <div>
            <strong>Nhanh</strong>
            <span class="shipping-cod">COD đã bật</span>
        </div>

        <label class="switch">
            <input type="checkbox" checked>
            <span class="slider"></span>
        </label>
    </div>


    <div class="shipping-item">
        <div>
            <strong>Tự Nhận Hàng</strong>
            <span class="shipping-cod">COD đã bật</span>
        </div>

        <label class="switch">
            <input type="checkbox">
            <span class="slider"></span>
        </label>
    </div>


    <div class="shipping-item">
        <div>
            <strong>Hàng Cồng Kềnh</strong>
            <span class="shipping-cod">COD đã bật</span>
        </div>

        <label class="switch">
            <input type="checkbox">
            <span class="slider"></span>
        </label>
    </div>

</div>

{% endblock %}